[Data]
file_path = data/train_data.csv
feature_cols = 0, 1, 2
label_col = 3

[Model]
model_path = svr_model.pickle
save_path = svr_model_final.pickle

[PSO]
n_iterations = 100
inertia_weight = 1
c1 = 2
c2 = 2

[Validation]
type = random-split
n_validations = 5
validation_size = 0.1

[SVR]
kernel = rbf
epsilon = 0.1
C_min = 1
C_max = 100
C_step = 10
gamma_min = 0.01
gamma_max = 2
gamma_step = 0.1
