[Data]
input_path = input.json

[PSO]
n_iterations = 100
inertia_weight = 1.1
c1 = 2
c2 = 2


[SVR]
kernel = rbf
epsilon = 1
C_min = 1
C_max = 200
C_step = 20
gamma_min = 0.01
gamma_max = 2
gamma_step = 0.2


[Validation]
type = k-fold
n_validations = 10
validation_size = 0.25

[Model]
save_path_s = svr_speed_model.pickle
save_path_f = svr_flow_model.pickle
